.layout-node-form {
  @media (min-width: 780px), (orientation: landscape) and (min-device-height: 780px) {
    display: grid;
    grid-template-columns: calc(75% - 10px) calc(25% - 10px);
    grid-gap: 20px;

    .layout-region-node-main,
    .layout-region-node-footer,
    .layout-region-node-secondary {
      float: unset;
      width: auto;
      padding-right: 0;
    }

    .layout-region-node-secondary {
      width: auto;
    }
  }
}
