{#
/**
 * @file
 * Theme override of a datetime form wrapper.
 *
 * Available variables:
 * - content: The form element to be output, usually a datelist, or datetime.
 * - title: The title of the form element.
 * - title_attributes: HTML attributes for the title wrapper.
 * - description: Description text for the form element.
 * - required: An indicator for whether the associated form element is required.
 *
 * @see template_preprocess_datetime_wrapper()
 */
#}
{%
  set wrapper_attributes = create_attribute({
    'class': [
      'datetime-container',
      'datetime-container--' ~ title|render|clean_class,
    ]
  })
%}
{%
  set title_classes = [
    'label',
    'label--' ~ title|render|clean_class,
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
<div{{ wrapper_attributes }}>
  {% if title %}
    <h4{{ title_attributes.addClass(title_classes) }}>{{ title }}</h4>
  {% endif %}
  {{ content }}
  {% if errors %}
    <div class="form-item--error-message">
      <strong>{{ errors }}</strong>
    </div>
  {% endif %}
  {% if description %}
    <div{{ description_attributes.addClass('description') }}>
      {{ description }}
    </div>
  {% endif %}
</div>
