form {
  // Only apply when editing a node or taxonomy-term.
  &[class*="node-form"],
  &[id^="taxonomy-term"] {
    .form-checkboxes,
    .form-radios {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
