.view {
  .view-filters {
    .views-exposed-form {
      border: 1px solid #ccc;
      padding: 1em;
      margin-bottom: 1em;
      background: #ededed;

      .form--inline {
        align-items: center;
      }

      .form-submit {
        margin-top: 10px;
      }
    }
  }

  .form {
    &--inline {
      .form-item {
        width: auto;
      }

      .form-actions {
        margin-left: auto;
        background-color: transparent;
      }
    }
  }

  [data-drupal-selector="edit-node-bulk-form"] {
    display: flex;
    align-content: center;
    align-items: center;

    > div {
      margin-right: 1em;
    }
  }
}
